*{
    font-family: 'Open Sans';
}
body{
    margin: 0;
    padding: 0;
}

.logo-nosso-sol{
    margin-top: 50%;
    width: 350px;
    height: 200px;
    /*border: 3px solid #f80808;*/
}

.conteiner-pai{
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-wrap: wrap;
    margin-top: 10%;
    height: 100%;
}

.filho-1{
    border-right: 2px solid #F8C508;
    height: auto;
}

.filho-2{
    /*border: 3px solid #f80808;*/
    margin-left: 0px;
    width: 50%;
}

.title{
    text-align: center;
    color: #F8C508;
    text-decoration: underline;
}

.sub-title{
    text-align: center;
    color: #F8C508;
}

label{
    display: block;
    margin-top: 10px;
    text-transform: uppercase;
}

.formulario-cadastro{
    /* border: 2px solid red; */
    text-align: center;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.input-camp{
    background-color: #c3c3c3;
    border: none;
    height: 30px;
    width: 50%;
    color: #000000;
    margin-top: 20px;
    
}

.input-camp::placeholder{
    color: #000000;
    font-size: 9pt;
    font-weight: bold;
    text-transform: uppercase;
    
}

.input-camp:active{
    border: none;
}

.submit-button{
    padding: 10px;
    text-transform: uppercase;
    color: #000000;
    border-radius: 10px;
    width: 100px;
    /* display: inline-block; */
    background-color: #F8C508;
    font-weight: bolder;
    border: none;
    text-align: center;
    margin-top: 20px;
    /* margin-left: 45%; */
}

/* .submit-button:hover{
    box-shadow:1px 1px 1px 1px #000000;
    border-bottom: #000000;
    transition: .5s;
} */
@media screen and (max-width: 500px){
    .filho-1{
        border-bottom: 2px solid #F8C508;
        height: auto;
    }
}

@media (max-width: 768px) {
    .filho-1 {
        height: 0px;
        margin: 10px;
    }

    .logo-nosso-sol {
        height: 0px;
        margin: 10px;
    }
}